.encapsulate{
    width:50%;
}
.helloStyle {
    padding: 10px;
    margin: 10px;
    background-color: #ffde00;
    color: #333;
    display: inline-block;
    font-family: monospace;
    font-size: 32px; 
    /*width: 50%;*/
    /*text-align: center;*/
}   